.product {
    width: 16.66667%;
    padding: 0 0.3125rem;
    box-sizing: border-box;
  }
  
  .recommend_product_padding_bottom {
    padding-bottom: 0.625rem;
    height: 100%;
    box-sizing: border-box;
  }
  
  .recommend_product_border {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.125rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    overflow: visible;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    padding: 0;
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
      box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  }
  
  .recommend_product_frame {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  
  .recommend_product_img {
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  
  .recommend_product_discount {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .recommend_product_discount_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-weight: 400;
    line-height: 0.8125rem;
    color: #ee4d2d;
    text-transform: uppercase;
    font-size: 0.75rem;
    width: 36px;
    height: 32px;
    box-sizing: border-box;
    padding: 4px 2px 3px;
    background-color: rgb(255, 212, 36);
  }
  
  .recommend_product_discount_title::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255, 212, 36, 0.9);
    border-style: solid;
    border-width: 0 18px 4px;
  }
  
  .recommend_product_card_header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    overflow: hidden;
  }
  
  .recommend_product_header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .recommend_product_header_title {
    flex-grow: 1;
    min-height: 1.75rem;
  }
  
  .recommend_product_header__title {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 14px;
    font-size: 0.75rem;
  }
  
  .recommend_product_price {
    padding: 0.125rem 0 0;
    display: flex;
    height: 1.25rem;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
  }

  .recommend_product_price_left_old{
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
    margin-right: 5px;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    transition: all .1s cubic-bezier(.4,0,.6,1);
    flex: 0 1 auto;
    font-size: small;
  }
  
  .recommend_product_price_left {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 75%;
    color: #ee4d2d;
  }
  
  .recommend_product_price_left__price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    color: #ee4d2d;
  }
  
  .recommend_product_hover_footer {
    opacity: 0;
    position: absolute;
    /* left: -0.0625rem; */
    top: calc(100% - 0.125rem);
    width: 100%;
    height: 1.875rem;
    background-color: #ee4d2d;
    color: #fff;
    text-align: center;
    line-height: 1.875rem;
    border: 1px solid #ee4d2d;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    z-index: 1;
  }
  
  .list_product_a_hover:hover .recommend_product_hover_footer {
    opacity: 1;
    z-index: 2;
  }
  
  .recommend_product_border:hover {
    border: 1px solid #ee4d2d;
    transform: translateY(-0.125rem);
    z-index: 2;
  }
  