.page_products_main {
  padding: 2.5rem 0 3.75rem;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.page_products_header {
  display: flex;
  position: relative;
  height: 3.5rem;
}

.page_products_title {
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.01em;
  font-weight: 400;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: 500;
  color: #fff;
  padding: 1.125rem 1.25rem;
  display: inline-block;
  background-color: #ee4d2d;
  margin: auto;
  z-index: 1;
  border-radius: 0.625rem;
  text-transform: capitalize;
}

.page_products_line {
  position: absolute;
  border-top: 1px dotted rgba(0, 0, 0, 0.26);
  width: 100%;
  left: 0;
  top: 50%;
  margin: 0;

  box-sizing: content-box;
  height: 0;
}

.page_products_list_product {
  padding: 2.5rem 0;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.3125rem;
  margin-left: -0.3125rem;

}

.page_products_list_product_none{
  padding: 2.5rem 0;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.3125rem;
  margin-left: -0.3125rem;
  justify-content: center;
  width: 100%;
}

.page_controller {
  display: flex;
  justify-content: center;
}

.page_controller_btn {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
}

.btn_prev {
  text-align: right;
  margin-right: 0.9375rem;
  color: rgba(0, 0, 0, .4);
  min-width: 2.5rem;
  height: 1.875rem;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.btn_next {
  text-align: left;
  margin-left: 0.9375rem;
  color: rgba(0, 0, 0, .4);
  min-width: 2.5rem;
  height: 1.875rem;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.page_controller_btn_no_outline {
  padding: 0;
  min-width: 2.5rem;
  text-align: center;
  height: 1.875rem;
  font-size: 1.25rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  color: rgba(0, 0, 0, .4);
  position: relative;
  overflow: visible;
  outline: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
}

.page_controller_btn_no_outline:hover {
  color: #ee4d2d;
}

.page_controller_btn_active {
  color: #fff;
  padding: 0;
  min-width: 2.5rem;
  text-align: center;
  height: 1.875rem;
  font-size: 1.25rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
  cursor: pointer;
  border: 0;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease;
  border-radius: 2px;
  user-select: none;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
}

.page_controller_btn_active:hover {
  background: #ee4d2dde;
}


.productIsLoading{
  color: #ee4d2d;
  font-size: 50px;
}

button:focus{
  outline: none !important;
}