.top_banner{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    height: 235px;
}
.home_banner{
    padding-top: 30px;
    background-color: #fff;
}
.full_home_banners{
    display: flex;
    min-height: 235px;
    max-height: 235px;
    line-height: 0;
}
.full_home_banner_main_left{
    width: 797px;
    

    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
}

.stardust_carousel{
    width: 100%;
    height: 100%;
    position: relative;
}

.stardust_carousel_item_list_wrapper{
    padding-top: 29.5003%;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.full_home_banner_main_right_wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 0.3125rem;
    width: 398px;
}

.full_home_banner_main_right_banner:first-child{
    border-top-right-radius: 2px;
    overflow: hidden;
}

.full_home_banner_main_right_banner:last-child{
    margin-top: 0.3125rem;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.full_home_banner_main_right_banner{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 0.125rem;
    overflow: hidden;
    flex: 1 1 50%;
    background-position: bottom;
    background-color: transparent;
}

.full_home_banner_main_right_banner_frame{
    background-color: #fafafa;
    height: 100%;
    position: relative;
}

.full_home_banner_main_right_banner_img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    opacity: 1;
}

.bot_banner{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin: 10px auto 0;
    min-height: 108px;
    background-color: #fff;
}

.bot_banner_a{
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
    
}
.bot_banner_a:hover {
    text-decoration: none;
}

.bot_banner_a:hover {
    transform: translateY(-0.125rem);
}

.bot_banner_header{
    margin: 18px auto 8px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.bot_banner_title{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: .8125rem;
    line-height: .875rem;
    max-width: 150px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    color: #222 !important;
    letter-spacing: 0;
    text-align: center;
    text-indent: none;
}

.bot_banner_header_frame{
    height: 100%;
    border-radius: 0;
    position: relative;
}

.bot_banner_header_img{
    /* background-image: url(https://cf.shopee.vn/file/46a2a2c810622f314d78455da5e5d926_xhdpi); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 1;
}