.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.link_to{
    height: 100%;
    display: block;
    text-decoration: none;
    background-color: transparent;
}

.frame {
    height: 100%;
    width: 100%;
    position: relative;
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slides {
    height: 100%;
    width: 100%;
    position: relative;
}

.slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.arrows{
    width: 2.1875rem;
    height: 3.75rem;
    background-color: rgba(0,0,0,.18);
    border-radius: 0;
    border-radius: initial;

    cursor: pointer;
    user-select: none;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 9%);
    opacity: 0;
    color: rgba(0,0,0,.87);
    fill: rgba(0,0,0,.87);
    transition: opacity .3s ease;
}

.arrow_next{
    right: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.arrow_next:hover{
    background-color: rgba(0,0,0,.4);
}

.arrow_prev:hover{
    background-color: rgba(0,0,0,.4);
}


.arrow_prev{
    left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.next {
    width: 1em;
    height: 1em;
    color: #fff;
    flex: 0 1 auto;
}

.prev{
    width: 1em;
    height: 1em;
    color: #fff;
    flex: 0 1 auto;
}

.slider-container:hover .arrows {
    opacity: 1;
}

.all-dots {

    position: absolute;
    bottom: 1rem;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    transition: opacity .5s ease;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0px 3px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid hsla(0, 0%, 53.7%, .4);
    background-color: hsla(0, 0%, 100%, .4);
}

.active-dot {
    background-color: #ee4d2d;
}