/* general */

:root {
  /* number */
  --header-height: 120px;
  --sort-bar-height: 46px;
  /* color */
  --white-color: white;
  --black-color: black;
  --text-color: #333;
  --light-title-color: #999;
  --primary-color: #ee4d2d;
  --light-btn-primary-color: #fb5533;
  --main-color1: #f53d2d;
  --main-color2: #ff6633;
  --border-color: lightcoral;
  --hover-color: #eee;
  --contain-color: #f5f5f5;
  --footer-color: #777;
}

a {
  text-decoration: none !important;
  text-transform: none;
}

* {
  box-sizing: inherit;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__col-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__col-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

.grid__col-2_4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

/* animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    /* scale là độ lớn lên (kích thước = 0) */
    transform: scale(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn linear 0.3s;
  display: none;
}

.modal__body {
  animation: grow linear 0.3s;
}

/* button */

.btn {
  min-width: 142px;
  height: 34px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 2px;
  font-size: 0.9rem;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btnone {
  min-width: 142px;
  height: 34px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 2px;
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 0 4px;
  display: inline-flex;
  align-items: center;
}

.btn.home-filter-btn:hover {
  color: var(--white-color);
  background-color: var(--light-btn-primary-color);
}

.btn.btn-signin {
  height: 32px;
  font-size: 1.2rem;
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.pagination-item {
  padding: 0 15px;
}

.pagination-item--active .pagination-item-link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item .pagination-item-link:hover {
  box-shadow: 0 0 3px #333;
}

.pagination-item-link {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #999;
  height: 30px;
  text-align: center;
  line-height: 30px;
  min-width: 40px;
  border-radius: 3px;
}

.pagination-item .pagination-item-link--disable:hover {
  cursor: default;
  box-shadow: none;
}
