.ItemName {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  max-height: 32px;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label-address-payment {
  font-size: 16px !important;
  color: #222 !important;
  font-weight: 600 !important;
}

.LinkAddress {
  margin-left: 4px;
  color: #ee4d2d;
}

.LinkAddress:hover {
  color: #ee4d2d;
  opacity: 0.7;
}

input[type="checkbox"] {
  user-select: none;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  text-align: center;
  box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
  margin: 0 12px 0 10px;
  font-weight: 300;
  font-size: 12px;
  cursor: default;
  color: rgba(0, 0, 0, 0.54);
}

input[type="checkbox"]:hover {
  box-shadow: none !important;
}

input[type="checkbox"]:checked {
  accent-color: #ee4d2d !important;
}

.CartLink {
  position: relative;
}
.NullCartLink {
  margin-top: 1.0625rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.FooterLink {
  display: block;
  width: 27px;
  height: 27px;
}

.FooterTextLink {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
