.modalBackground {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background-color: #4c4c4c;
  width: 31.25rem;
  padding: 1.25rem;
  position: relative;
  overflow: visible;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .modalTitle {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.modalContainer .modalTitle h5 {
  margin-bottom: 20px;
  color: white;
}

.cancelBtn {
  right: -10px;
  top: -10px;
  position: absolute;
  width: 40px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
}

.modalFooter {
  margin-top: 20px;
}
