.container__productDetail {
  background-color: #f5f5f5;
  margin: 0;
  padding: 3rem;
}
.app {
  max-width: 1200px;
  width: 100%;
  border-radius: 3px;
  margin-right: auto;
  padding-bottom: 2rem;
  margin-left: auto;
  background-color: white;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

._4ZZZt9 {
  padding: 15px 20px;
  background: #fafafa;
}

.flex-column {
  flex-direction: column;
}

.flex,
.h-center {
  display: flex;
}

.CDN0wz {
  font-size: 1.25rem;
  text-decoration: line-through;
  color: #929292;
  margin-right: 10px;
}

.pmmxKx {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ee4d2d;
}

.lTuS3S {
  margin-left: 15px;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  background: #ee4d2d;
  border-radius: 2px;
  padding: 4px 4px;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.fTn0aD {
  color: #ee4d2d;
  font-size: 1rem;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
}

.x1-hIE {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

div {
  display: block;
}
.variants {
  overflow: visible;
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  position: relative;
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.variantsSelected {
  overflow: visible;
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  border-radius: 2px;
  position: relative;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ee4d2d;
  background-color: #fff5f1;
  margin: 0 10px;
  border: 1px solid #ee4d2d;
}

.freeShip {
  margin: 0 5px -2px 0;
}
.colors-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alertNotification {
  width: auto;
}

.font-color {
  color: #000000;
  min-width: 150px;
  font-size: 1rem;
  text-transform: capitalize;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-right: 10px;
}
.img-wrapper {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.details .big-img {
  width: 420px;

  overflow: hidden;
  margin: 25px;
}
.imgMini {
  transition: all 0.5s ease-in-out;
  margin: 0 7px;
}

.imgMini:hover {
  transform: scale(1.1);
}

.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}
.PvQTP {
  margin-right: 0.625rem;
  width: 34px;
}
.dfsdfsdf {
  margin-top: 10px;
  color: #222;
  user-select: none;
  align-items: center;
  display: flex;
}
.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box .row {
  display: flex;
  margin: 0 18px 15px 0;
}

.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

.box .row span {
  color: crimson;
}

.btn-product-detail:hover {
  color: #ee4d2d !important;
  border-color: #ee4d2d !important;
}
.shippingMethod {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box p {
  line-height: 1.5;
  margin: 15px 0;
  color: #000000;
  font-size: 1rem;
  min-width: 100px;
}

.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}

.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
  transition: 0.5s linear;
}

.thumb img.active {
  opacity: 1;
  border: 1px solid lightseagreen;
}
.buttonAddCart {
  display: flex;
}
.box .cartNotActive {
  background: pink;
  color: white;
  outline: none;
  border-radius: 3px;
  display: flex;

  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  margin-right: 25px;
}

.box .cartActive {
  background: #ee4d2d;
  display: flex;

  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 25px;
  margin-top: 15px;
  margin-right: 25px;
}

.box .buy {
  background: #ee4d2d;
  color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  margin-right: 25px;
}

.product-quanlity {
  margin: 15px 0;
  display: flex;
}

.product-quanlity .product-quanlity__title {
  font-size: 1rem;
  height: 24px;
  margin: 0 14px 12px 0;
}

.product-quanlity .product-quanlity__groupInput {
  display: flex;
}

.product-quanlity .product-quanlity__groupInput .amount {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  color: #333;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.product-quanlity .product-quanlity__groupInput .text {
  height: 30px;
  width: 40px;
  border: 1px solid #cfcfcf;
  outline: none;
  text-align: center;
}

.productSpecification {
  padding: 20px 12px;
}

.productSpecification__title {
  background: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.125rem;
  padding: 0.875rem;
  text-transform: capitalize;
}

.productSpecification .productSpecification__title {
  background: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.125rem;
  padding: 0.875rem;
  text-transform: capitalize;
}

.productSpecification
  .productSpecification__table
  .product__table
  .product__tr {
  height: 42px;
}

.productSpecification
  .productSpecification__table
  .product__table
  .product__tr
  .product__td1 {
  width: 220px;
  padding: 0 8px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.productSpecification
  .productSpecification__table
  .product__table
  .product__tr
  .product__td2 {
  width: 220px;
  padding: 0 8px;
  font-weight: 500;
  color: #000000;
}

.descriptionProduct {
  padding: 0 12px;
  width: 80%;
  margin-bottom: 24px;
}

.descriptionProduct .productSpecification__title {
  font-size: 20px;
  height: 48px;
  margin-top: 16px;
  padding: 8px 0px;
}

.descriptionProduct__content {
  position: relative;
}

.productSpecification .productDes {
  white-space: pre-wrap;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7;
}

.productSpecification .productDes p {
  margin-top: 10px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 0.9rem;
}

.comment__listStore {
  /* border: 1px solid; */
  width: 240px;
}

.comment__commentStore {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title__reviews {
  width: 100%;
  position: relative;
  padding: 3px 60px;
}

.title__listStore h1 {
  background: rgba(0, 0, 0, 0.02);
  font-size: 1.125rem;
  padding: 0.875rem;
  text-transform: capitalize;
}

.title__listStore p {
  background-color: #239b56;
  display: inline;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.textarea {
  clear: left;
  min-width: 1100px;
  max-width: 1100px;
}

.content__commentStore {
  flex-grow: 1;
  padding: 0 20px;
}

.content__area {
  display: flex;
  flex-direction: row;
}

.content__area img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  min-width: 35px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.content__area + .content__area {
  margin-top: 20px;
}

.content__area .content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content__area .content .nameUser h3 {
  font-size: 14px;
  font-weight: 600;
}

.content__area .content .commentUser {
  display: flex;
  flex-grow: 1;
  background-color: #eee;
  border-radius: 8px;
  padding: 10px 7px;
  flex-direction: column;
}

.content__area .content .commentUser .__rating {
  margin-top: -5px;
}

.content__area .content .commentUser .__dateAndCancel {
  display: flex;
  flex-direction: row;
}

.content__area .content .commentUser .__dateAndCancel p {
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
}

.JfALJ {
  display: flex;
}

.separator__productDetail {
  width: auto;
  height: 20px;
  background-color: #f5f5f5;
}

.page-product__shop {
  height: 9rem;
  padding: 1.5625rem;
  border-radius: 0.125rem;
  overflow: hidden;
  background: #fff;
  margin-top: 0.9375rem;
}

.shopee-avatar__img {
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.shopee-svg-icon {
  display: inline-block;
  width: 4em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.shopee-avatar__img {
  position: relative;
  display: block;
}

.logocompany {
  width: 440px;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
}

.display {
  flex-shrink: 0;
  margin-right: 1.25rem;
  position: relative;
  overflow: visible;
  outline: 0;
}

.display .uUR7C3 {
  width: 5rem;
  height: 5rem;
}

.shopee-avatar {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.factoryName {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.companyOperatingTime {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: capitalize;
}

.companyInformation {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seeShop {
  margin-top: 8px;
  display: flex;
}

.seeShop .g8YUai {
  margin-right: 0.625rem;
}

.seeShop .g8YUai,
.seeShop .WFQI1W {
  flex-direction: row;
  text-transform: capitalize;
}

.btn-tinted,
.btn.btn-tinted {
  position: relative;
  overflow: visible;
  outline: 0;
  background: rgba(255, 87, 34, 0.1);
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}

.btn--s {
  height: 40px;
  padding: -20 21px;
  min-width: 60px;
  max-width: 100px;
}

.btn--inline {
  display: inline-flex;
}

.btn {
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seeShop .g8YUai,
.seeShop .WFQI1W {
  flex-direction: row;
  text-transform: capitalize;
}

.btn-light--link {
  color: #555;
}

.btn-light {
  outline: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  position: relative;
  overflow: visible;
}

.productFeedback {
  padding-left: 2.4375rem;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.productReviews {
  display: flex;
  flex-direction: column;
  margin-right: 3.125rem;
}

.Evaluate {
  cursor: default;
}

.Evaluate,
.Um7a0Z {
  display: flex;
  position: relative;
  overflow: visible;
  outline: 0;
}

.cgFEJd {
  margin-bottom: 1.25rem;
}

.productEvaluate {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  margin-right: 8px;
}

label {
  cursor: default;
}

.informationEvaluate {
  color: red;
  font-size: 0.9rem;
}

.favourite > div {
  white-space: normal;
}

.JW0gMM {
  font-size: 0.75rem;
}

.zCtnYl {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.wri-r3 {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 5px;
  background-color: #ee4d2d;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0.1875rem 0.25rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  cursor: default;
  user-select: none;
}

@media (max-width: 500px) {
  .thumb {
    height: 50px;
  }

  .thumb img {
    width: 50px;
  }
}

/*model*/
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  background: #252424cc;
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model .open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background: rgba(0, 0, 0, 0.05);
  color: #ffffff;
  cursor: pointer;
}
