@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
}

.navbar__sign {
  height: 84px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 6%);
  align-items: center;
  display: flex;
}

.navbar__sign__content {
  width: 1150px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar__sign__content--left {
  align-items: center;
  display: flex;
}

.navbar__sign_content--logo {
  font-size: 0;
  text-decoration: none;
  background-color: transparent;
  color: -webkit-link;
  cursor: pointer;
  margin-right: 35px;
}

.navbar__sign_content--logo--img {
  overflow: hidden;
  height: 40px;
  margin-top: -10px;
  margin-right: -18px;
  fill: #ee4d2d;
  width: 8.2rem;
  display: inline-block;
  position: relative;
  font-size: 0;
}
.navbar__sign__content--left--title {
  color: #222;
  font-size: 1.5rem;
  display: block;
}

.SectionSign {
  width: 100%;
  max-width: 450px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  border: 2px solid red;
  border-radius: 5px;
  background-color: #fff;
}

.FormSign {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  margin-left: 60px;
}

.SignLink {
  color: #ee4d2d;
  font-size: 0.875rem;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none !important;
  background-color: transparent;
}

.SignLink:hover {
  color: #ee4d2d;
  opacity: 0.7;
}

input[type="text"],
input[type="email"],
input[type="password"],
.ButtonSign,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  width: 300px;
  padding: 0.5rem;
  border-radius: 3px;
  border: solid 0.5px #ccc;
}

.LabelSign {
  margin: 15px 0 5px 0;
  color: #222;
  font-size: 0.875rem;
}

.ButtonSign {
  padding: 0.5rem;
  margin-top: 15px;
  background-color: #ee4d2d;
  color: white;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
}
.ButtonSign:hover {
  background-color: #ef6449;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.H1__tag {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.sign__container {
  background-color: rgb(238, 77, 45);
}

.sign__container__content {
  background-image: url(https://cf.shopee.vn/file/5569eb9dc7e09e2dbed5315b8f2ea8ba);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  width: 1040px;
  min-height: 600px;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.BottomSign {
  margin-left: 60px;
}
