

/* home filter */

.home-filter {
    background-color: var(--hover-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 3px;
}

.home-filter-control,
.home-filter-page {
    display: flex;
    align-items: center;
}

.home-filter-title {
    font-size: 0.85rem;
    color: var(--text-color);
    margin-right: 10px;
}

.home-filter-btn {
    background-color: var(--white-color);
    min-width: 0;
    padding: 0 15px;
    margin: 0 5px;
}


.home-filter-sort {
    background-color: var(--white-color);
    width: 200px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.home-filter-sort-list {
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    border-radius: 3px;
    background-color: var(--white-color);
    margin: 0;
    list-style: none;
    padding: 0;
    display: none;
    z-index: 5;
}

.home-filter-sort:hover .home-filter-sort-list {
    display: block;
}

.home-filter-sort-item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    border-top: 1px solid var(--hover-color);
}

.home-filter-sort-item-link:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}

.home-filter-page-number {
    font-size: 0.9rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.home-filter-page-now {
    color: var(--primary-color);
}

.home-filter-page-control {
    border-radius: 3px;
    overflow: hidden;
}

.home-filter-page-btn {
    width: 36px;
    height: 36px;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.home-filter-page-btn--disable {
    opacity: 0.4;
    cursor: default;
}

.home-product {
    margin: 8px 0;
}

.home-product-item-link {
    position: relative;
    margin: 5px 0;
    text-decoration: none;
    display: block;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
}

.home-product-item-link:hover {
    transform: translateY(-2px);
    border: 1px solid var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.home-product-item-footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 30px;
    font-size: 0.875rem;
    text-align: center;
    line-height: 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    z-index: 1;
    opacity: 0;
}

.home-product-item:hover .home-product-item-footer {
    opacity: 1;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


